body {
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-b);
    font-family: var(--font-family);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Estilos Login*/
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #011fa5;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}
